/* .dimensions{
    margin-top: 30px;
    background: rgb(149, 20, 149);
    font-size: 50px;
    color: aquamarine;
    width: 1000px;
    height: 250px;
    display: flex;
    justify-content:center;
    align-items:center;
} */

.one{
    margin-top: 30px;
    
}
.color{
    color:bisque;
    background-color: rgb(108, 41, 201);
}
.dimensions{
    height: 400px;
    font-size: 70px;
}
.flex{
    display: flex;
    justify-content:center;
    align-items:center;
}